<h1> Edit Picture </h1>

<%= form_tag(picture_url(@picture), :method => "patch") do %>

<%= label_tag :caption, "Caption:" %>
<%= text_field_tag :caption %>

<%= label_tag :source, "Image URL:" %>
<%= text_field_tag :source %>

<input type="submit" value="Create Picture">

<% end %>
