<h1>Add A New Picture</h1>

<%= form_tag(pictures_url, :method => "post") do %>

<%= label_tag :caption, "Caption:" %>
<%= text_field_tag :caption %>

<%= label_tag :source, "Image URL:" %>
<%= text_field_tag :source %>

<input type="submit" value="Create Picture">

<% end %>
